
a {
	width:20%;display:block;float:left;background-color:#4D4D4D; text-align:center;
	color:#FFFFFF;text-transform:uppercase;padding-top:6px;padding-bottom: 6px;
}

#wrapper {
background-color:#FFFFFF; width:100%; min-width:700px; max-width: 1000px; 
margin-left:auto; margin-right:auto;
}

h1 {
font-size:72px; color: rgba(25,190,55,0.70);text-align:center;font-weight:500;
}

body {
margin:0px; 
font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
background-color: #EFF5F8;
background: url(pattern1.png) repeat;

}

blockquote {
	background: #f9f9f9; border-left: 10px solid medium;
	padding: 0.5em 50px; text-align: center;
}

#output {
    padding: 30px;
}