html
   head
      title Testing
      link(rel="stylesheet" href="css/test.css")
   body
      <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different 
      browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
 
      header
         div#topbar
            section#pageTitle UVMTA
            section#profile Gayle Ann Ercanbrack BUTTON BUTTON
         div#menu
            a(href="") Button 1
            a(href="") Button 2
            a(href="") Button 3
            a(href="") Button 4
            a(href="") Button 5
      div#master
         aside There is stuff here
         main and more better stuff over here
