.required{background-color: blue}
caption {color: black;
         font-family: "arial, helvetica, sans-serif; font-size: 40px"}
               

.border {border-style: solid;
         border-width: 2px;
         border-color: black;}

.center {margin-left: auto;
         margin-right: auto;
         text-align: center;}

.heading {border-bottom-style:solid;
          bolder-bottom-style:black;
          border-width: 1px;
          color: black; font-family: "arial, helvetica, sans-serif";
          text-align: center; background-color: lightCyan;
          font-size: 24px}


input {font-family:arial, helvetica, sans-serif; font-size:12px; text-align:left;}
input.button {font-family:arial, helvetica, sans-serif; font-size:11px; text-align:center;}

.hidden { display: none;}   /* hide but don't take space */

/* background colors for tr, */
 tr.bgcolored {background: #D0D0D0} /* gray */

body {background-color: white; text-align: center}
div.fullscreen {text-align: left; background-color: #EFEFF0;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            border: thin black; border-style: solid}

div.content {text-align: left; background-color: #EFEFF0; width: 850px;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            border: thin black; border-style: solid}

div.center {background-color: #EFEFF0; border: 2px solid; text-align: center; width: 850px; margin: auto;}

.links {font-family:arial, helvetica, sans-serif; font-size:14px;}
span  {font-family:arial, helvetica, sans-serif; font-size:12px; text-align:left}
p     {font-family:arial, helvetica, sans-serif; font-size:12px; text-align:left}
td    {font-family:arial, helvetica, sans-serif; font-size:11px;}
td.print {padding: 1px 8px}  /* for printing or hardcopy version of a table data */
li    {font-family:arial, helvetica, sans-serif; font-size:12px; text-align:left; }
img   {border:none;}
form  {margin:0px;padding:0px}


/* a:visited    {color:#3772a2} */
a:active     {color:red}


/*IMG STYLES*/
.on     {visibility:visible}
.off    {visibility:hidden}


/*HEADER STYLES*/
/*
h1      {font-family:arial, helvetica, sans-serif; font-size:20px; color:#450087}
h2      {font-family:arial, helvetica, sans-serif; font-size:18px; color:#8247D1}
h3      {font-family:arial, helvetica, sans-serif; font-size:16px; color:#450087}
h4      {font-family:arial, helvetica, sans-serif; font-size:14px; color:#8247D1}
*/


/*EMPHASIS STYLES*/
em      {color:#450087; font-style:normal; font-weight:bold;}
strong  {color:#8247D1; font-style:italic; font-size:14px;}


